.container {
    display: flex;
    justify-content: center;
}

.container__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    padding: 25px 20px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    transition: height .2s ease-in-out;
}

.container__form_title {
    font-size: 20px;
    font-weight: bold;
}

.container__form_field {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
}

.container__form_label {
    padding: 15px 0px;
}

.container__form_input {
    width: 100%;
    padding: 10px 25px;
    border: 1px solid transparent;
    transition: border .2s ease-in-out;
    border-radius: 12px;
}

.container__form_input:focus, .container__form_input:focus {
	outline: none;
	border-color: #EE5A41;
}

.container__form_button {
	position: relative;
	align-self: center;
    margin-top: 25px;
	padding: 10px 30px;
	border-radius: 25px;
	background-color: #EE5A41;
	color: white;
	transition: all .3s ease-in-out;
	border: none;
	cursor: pointer;
}

.loaderdiv {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.loaderdiv__svg {
    height: 0px;
    width: 90px;
    object-fit: contain;
}

.loaderdiv__svg_activated {
    width: 90px;
    height: 80px;
    object-fit: contain;
}

.errorsdiv {
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 0px;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.errorsdiv__text {
    font-weight: bold;
    color: red;
}

.errorsdiv__activated {
    opacity: 1;
}

@media only screen and (max-width: 550px) {
    .container__form {
        width: 85%;
    }
}