.container {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    flex-grow: 1;
    background-color: white;
    border-radius: 12px;
    transition: all .2s ease-in-out;
}

.container__titlec {
    display: flex;
}

.container__titlec_title {
    margin-bottom: 15px;
}

.container__body {
    display: flex;
    position: relative;
    height: 100%;
}

.container__body_placeholder {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    font-weight: 400;
    transition: all .2s ease-in-out;
}

.container__body_placeholder_deactivated {
    height: 0;
    opacity: 0;
}

.container__body_form {
    display: flex;
    padding: 10px 5px;
    min-height: 150px;
    width: 100%;
    flex-direction: column;
    border-radius: 2px;
    background-color: rgb(245, 240, 240);
}

.container__body_form_element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.container__body_form_label {
    margin-bottom: 10px;
}

.container__body_form_input {
    display: flex;
    padding: 5px 7px;
    width: calc(100% - 14px);
    border: 1px solid transparent;
    transition: border .2s ease-in-out;
    border-radius: 5px;
	border-color: #eea699;
}

.container__body_form_option {
    padding: 2px 0px;
}

.container__body_form_option_selected {
    background-color: #EE5A41;
    color: whitesmoke;
}

.container__body_form_input:focus, .container__body_form_input:focus {
	outline: none;
	border-color: #EE5A41;
}

.container__actions {
    display: flex;
    padding: 10px 15px;
    justify-content: flex-end;
}

.container__actions_button {
	position: relative;
	padding: 10px 12px;
	align-self: center;
	color: white;
	background-color: #EE5A41;
	border: none;
	cursor: pointer;
    border-radius: 8px;
    transition: all .2s ease-in-out;
    margin-left: 5px;
}

.container__actions_button:hover {
	background-color: #d53013;
}

.container__actions_second {
	position: relative;
	padding: 10px 12px;
	align-self: center;
	color: gray;
	background-color: whitesmoke;
	border: 2px solid gray;
	cursor: pointer;
    border-radius: 8px;
    transition: all .2s ease-in-out;
    margin-left: 5px;
}

.container__errors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px;
    gap: 5px
}

.container__errors_error {
    text-align: center;
    color: red;
}

.container__completed {
    color: green;
    text-align: center;
}

@media only screen and (max-width: 550px) {
    .container {
        flex-direction: column;
    }
}