.container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 300px;
    padding: 20px 20px;
    border-radius: 12px;
    background-color: white;
}

.container_title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.container__menu {
    position: relative;
    width: 100%;
    height: 250px;
    overflow-y: scroll;
    background-color: rgb(245, 240, 240);
}

.container__menu_item {
    display: flex;
    padding: 10px 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.container__menu_loader {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    transition: height .2s ease-in-out;
}

.container__menu_loader img {
    width: 30%;
    height: 30%;
}

.container__menu_loader_deactivated {
    height: 0px;
}

.container__menu_title {
    color: #EE5A41;
    transition: all .2s ease-in-out;
}

.container__menu_item:hover {
    background-color:  rgb(215, 230, 240);
}

.container__menu_item:hover .container__menu_title {
    color: d53013;
}

.container__cta {
    display: flex;
    padding: 12px 0px;
    justify-content: end;
}

.container__cta_button {
	position: relative;
	align-self: center;
	padding: 10px 30px;
	border-radius: 25px;
	color: white;
	border: none;
	cursor: pointer;
	background-color: #EE5A41;
    transition: all .2s ease-in-out;
}

.container__cta_button:hover {
	background-color: #d53013;
}

@media only screen and (max-width: 550px) {
    .container__cta {
        justify-content: center;
    }

    .container {
        width: auto;
    }
}